html, main {
    height: 100%;
    max-height: 100%;
}

main {
    text-align: center;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #8cb9d5;
}

.game-grid {
    display: grid;
    margin: 30px auto;
    width: 60%;
    max-width: 500px;
    max-height: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
    grid-auto-rows: 1fr;
    padding: 5px;
    border-radius: 5px;
    background: black;
    box-shadow: 0 0 43px -14px rgba(66, 68, 90, 1);
}

.game-grid::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1;
    grid-column: 1;
}

.game-grid > *:first-child {
    grid-row: 1;
    grid-column: 1;
}

.cell {
    border: 1px solid #000;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    background: white;
}

.highlighted {
    background-color: #000;
    color: #fff;
}

#restart-game {
    cursor: pointer;
    background-color: #008ada;
    border: solid transparent;
    border-radius: 10px;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    padding: 13px 16px;
    text-align: center;
    vertical-align: middle;
}

#restart-game:hover {
    background: black;
}

@media only screen and (min-width: 1900px) {
    .cell {
        font-size: 4vw;
    }
}

@media only screen and (max-width: 300px) {
    .game-grid {
        width: 90%;
    }
    .cell {
        font-size: 17vw;
    }
}